<div class="row" data-equalizer>
  <% @contests.each do |contest| %>
    <%= link_to(contest) do %>
      <div class="large-12 columns panel" data-equalizer-watch>
        <h3><%= contest.name %></h3>
          <div>
            <img style="width: 100%;" src="images/brasil.jpg">
          </div>
      </div>
    <% end %>
  <% end %>
</div>
