<!-- SUB MENU -->
<section id="submenu-container">
  <a id="mobile-menu" href="#">SubMenu</a>
  <nav id="submenu">
    <ul>
      <li>
        <a href="http://contes.dev5.webenabled.net">Inicio</a>
      </li>
      <li>
        <a href="index.html#presentacion">Como Funciona</a>
      </li>

      <li>
        <a href="contacto.html">Contacto</a>
      </li>
    </ul>
  </nav>
  <!-- LOGIN MENU -->
  <nav id="submenu-login">
    <ul>
      <li>
        <a href="#">Registrarse</a>
      </li>
      <li>
        <a href="#">Login</a>
      </li>
    </ul>
  </nav>
</section>
<div class="clear"></div>
<!-- HEADER -->
<header id="header">
  <div class="logo"><img src="./images/logo.png" alt="Apostar & Apostar" width="381" height="183" title="Apostar & Apostar"/><span>¡Apueste gratis y gane!</span>            </div>
</header>
<div class="clear"></div>
<!-- MAIN MENU -->
 <!-- <section id="mainmenu-container">
  <a class="toggleMenu" href="#">Menu</a>
  <nav>
    <ul id="mainmenu">
      <li>
        <a href="index.html">
          <span>Início</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span>Pages</span>
        </a>
        <ul>
          <li>
            <a href="club.html">
              <span>Our Club</span>
            </a>
          </li>
          <li>
            <a href="team.html">
              <span>Our Team</span>
            </a>
          </li>
          <li>
            <a href="features.html">
              <span>Features</span>
            </a>
          </li>
          <li>
            <a href="layout.html">
              <span>Layout</span>
            </a>
          </li>
          <li>
            <a href="fixtures.html">
              <span>Fixtures</span>
            </a>
          </li>
          <li>
            <a href="result.html">
              <span>Match Result</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Dropdown</span>
            </a>
            <ul>
              <li>
                <a href="#">
                  <span>Item 1</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Item 2</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Item 3</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span>Item 4</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a href="galleries.html">
          <span>Gallery</span>
        </a>
        <ul>
          <li>
            <a href="galleries.html">
              <span>Galleries</span>
            </a>
          </li>
          <li>
            <a href="single-gallery.html">
              <span>Single Gallery</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="blog.html">
          <span>Blog</span>
        </a>
        <ul>
          <li>
            <a href="blog.html">
              <span>Blog</span>
            </a>
          </li>
          <li>
            <a href="single-post.html">
              <span>Single Post</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="contact.html">
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </nav>-->
<!-- </section>
 --><!-- MAIN CONTAINER -->
<section class="maincontainer">
  <!-- FLEXSLIDER -->
  <section class="flex-wrapper">
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li>
          <div class="flex-title">
            <h3>¡Participe y gane!</h3>
            <p>En el mundial 2014 que se celebra en Brasil puede ganar de forma gratuita un montón de regalos solo precisa acertar los resultados de los partidos.</p>
          </div>
          <img src="images/photos/large3.jpg" alt="" />                        </li>
        <li>
          <div class="flex-title">
            <h3>¡Gane la camiseta de Messi!</h3>
            <p>Es tan facil como apostar gratis y acertar los resultados. Regístrese gratuitamente en nuestro website y realize las apuestas.</p>
          </div>
          <img src="images/photos/large2.jpg" alt="" />                        </li>
        <li>
          <div class="flex-title">
            <h3>¡Gane la camiseta de Ronaldo!</h3>
            <p>Puede ganar gratis la camiseta firmada por Cristiano Ronaldo. Es solo acertar los resultados de los partidos del mundial de Brasil de 2014.                      </p>
          </div>
          <img src="images/photos/large1.jpg" alt="" />                        </li>
      </ul>
    </div>
  </section>
  <div class="clear"></div>
  <!-- FIXTURE TITLE -->
  <div class="scores-title">Próximos partidos & Últimos resultados</div>
  <!-- FIXTURE SLIDER -->
  <section class="transparent-bg">
    <div id="fixture">
      <div class="slide-content">
        <div class="match-results">
          <span>Uruguay</span>
          <span class="score">4 - 0</span>
          <span>Argentina</span>                        </div>
        <div class="match-place">
          <span>11 de Marzo 2014 - 10:00 PM Estadio Maracaná</span>                        </div>
      </div>
      <div class="slide-content">
        <div class="match-results">
          <span>Deserunt Quorum FC</span>
          <span class="score">2 - 1</span>
          <span>Voluptate Cillum FC</span>                        </div>
        <div class="match-place">
          <span>07th Mar 2014 - 11:00 PM at Suspendisse Stadium</span>                        </div>
      </div>
      <div class="slide-content">
        <div class="match-results">
          <span>Voluptate Cillum FC</span>
          <span class="score">1 - 3</span>
          <span>Deserunt Quorum FC</span>                        </div>
        <div class="match-place">
          <span>03th Mar 2014 - 09:00 PM at Quamquam Stadium</span>                        </div>
      </div>
    </div>
    <div class="clear"></div>
  </section>
  <!-- PAGE CONTAINER -->
  <section class="pagecontainer">
    <!-- LEFT CONTAINER -->
    <section class="leftcontainer">
      <h1><a name="presentacion" id="presentacion"></a>Como funciona el concurso</h1>
      <hr/>

      <!-- POST -->
      <article class="post">
        <figure>

            <img src="images/photos/presentacion.jpg" alt="" />                      </figure>
      </article>
      <hr/>

      </div>
    </section>
    <!-- RIGHT CONTAINER -->
    <section class="rightcontainer">
      <!-- SIDEBAR BOX -->

      <!-- SIDEBAR BOX -->
      <div class="sidebarbox">                    </div>
      <!-- SIDEBAR BOX -->
      <div class="sidebarbox">
        <div class="sidebarbox-title">
          <h3>Últimos resultados</h3>
        </div>
        <!-- TABLE -->
        <div class="fixture-row">
          <a href="#">
            <div class="fixture-row-left">Consectetur FC
              <div>?</div>
            </div>
            <div class="fixture-row-right">
              <div>?</div>Voluptate Cillum FC</div>
          </a>
          <a href="#">
            <div class="fixture-row-left">Fabulas FC
              <div>1</div>
            </div>
            <div class="fixture-row-right">
              <div>3</div>Voluptate Cillum FC</div>
          </a>
          <a href="#">
            <div class="fixture-row-left">Voluptate Cillum FC
              <div>4</div>
            </div>
            <div class="fixture-row-right">
              <div>1</div>Vidisse FC</div>
          </a>
          <a href="#">
            <div class="fixture-row-left">Elit FC
              <div>2</div>
            </div>
            <div class="fixture-row-right">
              <div>4</div>Voluptate Cillum FC</div>
          </a>
          <a href="#">
            <div class="fixture-row-left">Voluptate Cillum FC
              <div>1</div>
            </div>
            <div class="fixture-row-right">
              <div>1</div>Domesticarum FC</div>
          </a>
          <a href="#">
            <div class="fixture-row-left">Ullamco FC
              <div>6</div>
            </div>
            <div class="fixture-row-right">
              <div>1</div>Voluptate Cillum FC</div>
          </a>
          <a href="#">
            <div class="fixture-row-left">Incididunt FC
              <div>1</div>
            </div>
            <div class="fixture-row-right">
              <div>5</div>Voluptate Cillum FC</div>
          </a>
          <a href="#">
            <div class="fixture-row-left">Voluptate Cillum FC
              <div>2</div>
            </div>
            <div class="fixture-row-right">
              <div>1</div>Pariatur FC</div>
          </a>
          <a href="#">
            <div class="fixture-row-left">Voluptate Cillum FC
              <div>1</div>
            </div>
            <div class="fixture-row-right">
              <div>3</div>Mentitum FC</div>
          </a>                        </div>
      </div>
      <!-- SIDEBAR BOX -->
      <div class="sidebarbox">
        <div class="sidebarbox-title">
          <h3>Galería de fotos</h3>
        </div>
        <!-- GALLERY -->
        <ul class="team-gallery">
          <li>
            <a class="clb-photo" href="images/photos/l1.jpg">
              <img src="<%= asset_path( 's1.jpg' ) %>" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-iframe" href="http://www.youtube.com/embed/1iIZeIy7TqM">
              <img src="images/photos/s1.jpg" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-photo" href="images/photos/l1.jpg">
              <img src="images/photos/s1.jpg" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-iframe" href="http://www.dailymotion.com/embed/video/x143vp2">
              <img src="images/photos/s1.jpg" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-photo" href="images/photos/l1.jpg">
              <img src="images/photos/s1.jpg" alt="" />                                </a>                            </li>
          <li>
            <a class="clb-link" href="http://www.themeforest.com">
              <img src="images/photos/s1.jpg" alt="" />                                </a>                            </li>
        </ul>
                  </div>
    </section>
  </section>
  <div class="clear"></div>
  <!-- SPONSORS TITLE -->
  <div class="logos-title">Patrocinadores</div>
  <!-- SPONSORS SLIDER -->
  <section class="transparent-bg">
    <div id="logos">
      <div class="slide">
        <a href="#">
          <img src="images/photos/logo.png" alt="" />                        </a>                    </div>
      <div class="slide">
        <a href="#">
          <img src="images/photos/logo.png" alt="" />                        </a>                    </div>
      <div class="slide">
        <a href="#">
          <img src="images/photos/logo.png" alt="" />                        </a>                    </div>
      <div class="slide">
        <a href="#">
          <img src="images/photos/logo.png" alt="" />                        </a>                    </div>
      <div class="slide">
        <a href="#">
          <img src="images/photos/logo.png" alt="" />                        </a>                    </div>
    </div>
  </section>
  <!-- FOOTER -->
  <footer id="footer">
    <div id="footer-widgets">
      <!-- WIDGET 1 -->
      <!-- WIDGET 2 -->
      <!-- WIDGET 3 -->
    </div>
    <div class="clear"></div>
    <!-- COPYRIGHT -->
    <div class="credits">Todos los derechos reservados &copy; 2014</div>
  <!-- SOCIAL ICONS -->
    <ul class="social-icons">
      <li>
        <a href="#">
          <img class="social-icon" src="images/social-icons/facebook.png" alt="Facebook" />                        </a>                    </li>
    </ul>
  </footer>
  <!-- BACK TO TOP BUTTON -->
  <a href="#" class="back-to-top"></a>
</section>
