<section class="maincontainer">
  <!-- PAGE TITLE -->
  <div class="page-title"><%= @contest.name %></div>
  <!-- FEATURED IMAGE -->
<!--   <div class="page-img">
      <img src="images/photos/featured.jpg" alt="" />
  </div> -->
  <!-- PAGE CONTAINER -->
  <section class="pagecontainer">
    <% unless @games.empty? %>
      <%= render 'form_entry' %>
    <% else %>
      <h3>No hay partidos nuevos para apostar, por favor regrese mas tarde</h3>
    <% end %>
  </section>

  <div class="page-title">Ultimas Apuestas</div>

  <section class="pagecontainer">
    <% unless @entries.empty? %>
      <%= render 'form_entered' %>
    <% else %>
      <h3>No has hecho ninguna apuesta en los ultimos dias </h3>
    <% end %>
  </section>
</section>

