<!-- MAIN CONTAINER -->
<section class="maincontainer">
  <!-- PAGE TITLE -->
  <div class="page-title">Reglas del Concurso</div>
  <!-- PAGE CONTAINER -->
  <section class="pagecontainer">
    <p><%= render "how_to_play" %></p>
  </section>
</section>
