<p>Hola <%= @resource.email %>!</p>

<p>Alguien a pedido cambiar la contrase単a. Haga click en el siguiente enlace.</p>

<p><%= link_to 'Cambiar mi contrase単a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no pido este cambio, por favor ignore este email.</p>
<p>Su contrase単a no cambiara hasta que no haga click en el enlace (link) e ingrese la nueva contrase単a.</p>
